---
import "./WebHeaderStyle.scss"
---
<header>
  <nav>
    <ul>
      <li class="logo">
        <img src="../../public/Assets/Astro.png" alt="" />
      </li>
      <li class="nav-item"><a href="#">Accueil</a></li>
      <li class="nav-item"><a href="#">Portfolio</a></li>
      <li class="nav-item"><a href="#">Contact</a></li>
      <li class="nav-item"><a href="#">A propos</a></li>
    </ul>
  </nav>
</header>
