---

---

<footer>
  <nav>
    <p class="title_footer">SUIVEZ FROMSOFTWARE</p>
    <ul class="ul_footer">
      <li><a href="https://twitter.com/fromsoftware_pr">Twitter</a></li>
      <li><a href="https://www.youtube.com/@FromSoftwareInc">YouTube</a></li>
      <li>
        <a href="https://www.instagram.com/fromsoftware_jp/">Instagram</a>
      </li>
    </ul>
  </nav>
</footer>

<style lang="scss">
  // Variables SCSS

  $background-color-footer: #000000d2;
  $font-color-footer: yellow;
  $font-color-link-hover: rgba(255, 255, 255, 0.764);
  $font-size-title-footer: 30px;
  $font-size-link-footer: 20px;
  $font-family-title: "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  $font-family-links: "Poppins", sans-serif;
  $margin-footer: 20px;
  $transition-color: 0.5s;

  footer {
    display: flex;
    justify-content: center;
    background-color: $background-color-footer;

    .title_footer {
      display: flex;
      justify-content: center;
      margin: 20px;
      color: $font-color-footer;
      font-size: $font-size-title-footer;
      font-family: $font-family-title;
    }

    .ul_footer {
      display: flex;
      justify-content: space-between;
      padding: 0;

      & li {
        list-style-type: none;
        font-size: $font-size-link-footer;
        margin: $margin-footer;

        & a {
          text-decoration: none;
          color: $font-color-footer;
          font-family: $font-family-links;
          transition: color $transition-color;

          &:hover {
            color: $font-color-link-hover;
          }
        }
      }
    }
  }
</style>
