---
---

<header>
    <a href="#home"><div class="logo"></div></a>
    <nav>
      <ul>
        <li><a href="#overview">PRESENTATION</a></li>
        <li><a href="#features">HISTOIRE</a></li>
        <li><a href="#GAMEPLAY">GAMEPLAY</a></li>
        <li><a href="#DLC">DLC</a></li>
      </ul>
    </nav>
  </header>
  
<style lang="scss">

// Variables SCSS

$box-shadow-header: 0 4px 6px rgba(0, 0, 0, 0.3);
$font-color-link: yellow;
$font-color-link-hover: black;
$background-color-link-hover: rgba(255, 255, 0, 0.714);
$font-family-header: "Poppins", sans-serif;
$font-size-link: 20px;
$link-padding: 10px 20px;
$link-margin: 20px;
$border-radius-link: 8px;
$transition-duration: 0.3s;

// Style global
body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.472);
}

// PARTIE HEADER
header {
  position: absolute;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.561);
  box-shadow: $box-shadow-header;
  position: fixed;

  .logo {
    background-image: url("assets/logo_er.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 100px;
  }

  // barre de navigation
  nav {
    width: 80%;

    & ul {
      display: flex;
      justify-content: end;

    & li {
      list-style-type: none;
      font-size: $font-size-link;
      text-decoration: none;
      margin: $link-margin;

    & a {
      text-decoration: none;
      color: $font-color-link;
      padding: $link-padding;
      transition: color $transition-duration ease, background-color $transition-duration ease;
      font-family: $font-family-header;
      font-weight: bold;
      border-radius: $border-radius-link;

      &:hover {
        background-color: $background-color-link-hover;
        color: $font-color-link-hover;
        border-radius: $border-radius-link;

          }
        }
      }
    }
  }
}

</style>
  