---
interface Props {
  language: string;
  title: string;
}

const { language = "en", title = "My Website" } = Astro.props;

import WebFooter from "../components/WebFooter.astro";
import WebHeader from "../components/WebHeader.astro";
// importing CSS / SCSS
import "../styles/test.scss";
---

<!doctype html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
  </head>

  <body>
    <slot name="before" />

    <slot name="after" />
    <!--HEADER -->
    <WebHeader />

    
    <WebFooter />
    <slot />
  </body>
</html>
