---
import WebLayout from "../layouts/WebLayout.astro";
---

<WebLayout language="fr" title="test">
  <body>
    <h1>Titre</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores
      incidunt provident velit. Cum vel voluptates laborum esse necessitatibus?
      Veritatis, cupiditate cum est amet corrupti dolore perspiciatis sequi nam?
      Quaerat, culpa.
    </p>
    <section>
      <img src="../../public/Assets/stars.png" alt="" />
    </section>
  </body>
</WebLayout>
