---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/main.scss";
//import "../interactions/test.ts"

interface Props {
	language: string;
	title: string;
}

const { language = "en", title = "Elden Ring" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="../src/styles/main.scss" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />

		<slot />

		<Footer />
	</body>
</html>
<style is:global>
	:root,
	body {
		margin: 0;
		padding: 0;
	}
</style>

<script src="../interactions/test.ts"></script>
